allow dnsmasq self:capability net_admin;
allow dnsmasq self:udp_socket { read write ioctl create bind };
allow dnsmasq node:udp_socket node_bind;
allow dnsmasq port:udp_socket name_bind;
allow dnsmasq self:capability { net_raw dac_override };
allow dnsmasq self:netlink_route_socket { write read getattr nlmsg_read bind create };
allow dnsmasq self:rawip_socket { write read create setopt };
allow dnsmasq self:udp_socket setopt;
allow dnsmasq netd:fd use;
allow dnsmasq netd:fifo_file { read write };
allow dnsmasq netd:netlink_kobject_uevent_socket { read write };
allow dnsmasq netd:netlink_nflog_socket { read write };
allow dnsmasq netd:netlink_route_socket { read write };
allow dnsmasq netd:unix_stream_socket { read write };
