allow mediaserver camera_data_file:sock_file w_file_perms;
allow mediaserver device:sock_file write;

qmux_socket(mediaserver)

unix_socket_send(mediaserver, camera, camera)

allow mediaserver self:socket create;

# Allow logging diagnostic items
allow mediaserver diagnostic_device:chr_file rw_file_perms;

allow mediaserver system_data_file:file { write open };
allow mediaserver camera_device:dir search;
allow mediaserver camera_data_file:dir search;
