# Integrated qualcomm sensor process
type sensors, domain;
type sensors_exec, exec_type, file_type;

# Started by init
init_daemon_domain(sensors)

# dac_override open /dev/msm_dsps
allow sensors self:capability { setuid setgid chown dac_override };

# Allow logging diagnostic items
allow sensors diagnostic_device:chr_file rw_file_perms;

# Create /data/app/sensor_ctl_socket
file_type_auto_trans(sensors, apk_data_file, sensors_socket);

allow sensors sensors_data_file:dir create_dir_perms;
allow sensors sensors_data_file:file create_file_perms;
dontaudit sensors apk_data_file:dir remove_name;

# Access to sensor nodes
allow sensors sensors_device:chr_file rw_file_perms;

# XXX should power_control_device be labeled differently?
allow sensors power_control_device:chr_file { write open append };

# XXX label with own type?
allow sensors sysfs:file { open append read write getattr };

allow sensors system_data_file:file { write open };
allow sensors input_device:chr_file { read ioctl open };
allow sensors input_device:dir { read open };
allow sensors cgroup:dir { add_name create };
allow sensors sysfs_wake_lock:file { append open };
