# Drivers read firmware files (/firmware/image, /system/etc/firmware/wlan/prima)
allow ueventd { radio_efs_file wifi_data_file }:file r_file_perms;
allow ueventd { radio_efs_file wifi_data_file }:dir search;
allow ueventd { radio_efs_file wifi_data_file }:file getattr;
allow ueventd persist_file:dir search;
allow ueventd persist_wifi_file:file { read getattr open };
allow ueventd sysfs:file relabelfrom;
allow ueventd sysfs_writable:file { getattr setattr };
allow ueventd cgroup:dir { create add_name };
