[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group motorola_msm8226
	label-Code-Review = -2..+2 group motorola_msm8226
	label-Verified = -1..+1 group motorola_msm8226
	submit = group motorola_msm8226
	push = group motorola_msm8226
[submit]
	action = rebase if necessary
